@use 'styles/constants/colors' as color;

.infoPage {
  display: table;
  width: 100%;

  .topDiv {
    display: flex;
    justify-content: center;
    height: 32px;
    margin-top: 49px;

    .filter {
      width: 225px;
      height: 19px;
      margin: auto 0;
      font-size: 16px;
    }

    .postButton {
      width: 124px;
      height: 32px;
      margin-left: 471px;
    }
  }

  .midDiv {
    display: flex;
    justify-content: center;
    margin-top: 17px;
    margin-left: 222px;

    .postBody {
      width: 820px;
      height: 100%;
      border: 1px solid #d9d9d9;
      border-radius: 8px;
    }

    .adDiv {
      width: 160px;
      height: 600px;
      margin-left: 66px;
    }
  }

  .pageSelect {
    display: flex;
    justify-content: center;
    width: 642px;
    height: 30px;
    margin: 57px auto 98px;
  }
}
