@use 'styles/constants/colors' as color;

.explanation {
  display: table;
  width: 505px;
  height: 211px;

  span {
    margin-top: 0;
    margin-left: 0;
    font-size: 20px;
    font-weight: 600;
  }

  div {
    height: 177px;
    padding: 20px;
    margin-top: 10px;
    border: 1px solid color.$GREY_SECONDARY;
    border-radius: 8px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.1px;
  }
}
