@use 'styles/constants/colors' as color;

.pagenation {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  width: 642px;
  height: 30px;
  margin: 0 auto;
  margin-top: 76px;
  margin-bottom: 98px;
  font-size: 18px;

  & > button:active {
    color: color.$BLUE_PRIMARY;
  }

  .arrowButtons {
    & > button:first-child {
      margin-right: 4px;
    }
  }
}
