@use '../../../../../../styles/constants/colors' as color;

.input {
  height: 18px;
  border-bottom: 1px solid color.$GREY_SECONDARY;
}

.valid {
  border-bottom-color: color.$BLUE_PRIMARY;
}

.invalid {
  border-bottom-color: color.$RED;
}
