$WHITE: #ffffff;
$BLACK: #000000;

$GREY_PRIMARY: #888888;
$GREY_SECONDARY: #d9d9d9;
$GREY_TERTIARY: #fafafa;
$GREY_QUATERNARY: #ededed;

$BLUE_PRIMARY: #4c70ee;
$BLUE_SECONDARY: #a9bfff;

$NAVY: #172366;

$RED: #ff6854;

$YELLOW: #ffc940;
