@use 'styles/constants/colors' as color;

.info {
  display: flex;
  gap: 96px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 752px;
  background-color: color.$GREY_TERTIARY;
}

.recruit {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 581px;
}

.inquiry {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 297px;
  background-color: color.$GREY_TERTIARY;
}
