@use 'styles/constants/colors' as color;

.inquiryBoard {
  width: 1240px;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    h1 {
      font-size: 24px;
      font-weight: 700;
    }

    button {
      width: 131px;
      height: 30px;
      font-size: 16px;
      font-weight: 400;
      color: color.$BLACK;
      background-color: color.$WHITE;
      border: 1px solid color.$GREY_PRIMARY;
      border-radius: 30px;
    }
  }

  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }
}
